package catalog

import (
	"fmt"
	"github.com/jonahhess/ds/internal/types"
)

templ Catalog(courses []types.Item) {
	<h1>Catalog</h1>
	<ul>
		for _, v := range courses {
			<li>
				<a href={ fmt.Sprintf("/courses/%d", v.ID) }>{ v.Text }</a>
			</li>
		}
	</ul>
}
