package layouts

import (
	"context"
	"io"
	"strings"
)

func PageStyles(page string) templ.Component {
	return templ.ComponentFunc(func(ctx context.Context, w io.Writer) error {
		loweredPage := strings.ToLower(page)
		href := "/static/pages/" + loweredPage + "/" + loweredPage + ".css"

		_, err := io.WriteString(
			w,
			`<link rel="stylesheet" href="`+href+`">`,
		)
		return err
	})
}
