package courses

import (
	"fmt"
	"github.com/jonahhess/ds/internal/types"
)

templ Courses(courses []types.Item) {
	<h1>All Courses</h1>
	for _, v := range courses {
		<a href={ fmt.Sprintf("courses/%d", v.ID) }>{ v.Text }</a>
	}
}
