package template

import (
	"fmt"
	"github.com/jonahhess/ds/internal/types"
)

templ MyTemplate(userID int, items []types.Item) {
	<h1>All Template</h1>
	for _, v := range items {
		<a href={ fmt.Sprintf("/templates/%d", v.ID), }>{ v.Text }</a>
	}
}
