package pages

import "myapp/types"

templ HomePage(user types.UserType) {
	switch user {
		case types.Guest:
			<h1>Hello Guest</h1>
			<a href="/login">Login</a>
		case types.UserType(1):
			<h1>Hello User 1</h1>
		case types.Admin:
			<h1>Hello Admin 1</h1>
	}
}
