package home

import "myapp/types"

templ Home(user types.User) {
	switch user.Type {
		case types.Guest:
			<h1>Hello Guest</h1>
			<a href="/login">Login</a>
		case types.LoggedInUser:
			<h1>Hello User</h1>
	}
}
