package myLesson

import (
	"fmt"
	"github.com/jonahhess/ds/internal/types"
)

templ MyLesson(userID int, courseID int, lessonIndex int, lesson types.Lesson) {
	<h2>Title: { lesson.Title }</h2>
	if lesson.Text == "" {
		<a href={ fmt.Sprintf("/courses/%d/lessons/%d/generate", courseID, lessonIndex) }>Generate Lesson</a>
	} else {
		<p>Text: { lesson.Text }</p>
		if lesson.QuizID != 0 {
			<a href={ fmt.Sprintf("/courses/%d/lessons/%d/quiz", courseID, lessonIndex) }>Start Quiz</a>
		}
	}
}
