package template

import (
	"fmt"
	"myapp/types"
)

templ MyTemplate(userID int, items []types.Item) {
	<h1>All Template</h1>
	for _, v := range items {
		<a href={ fmt.Sprintf("/users/%d/templates/%d", userID, v.ID), }>{ v.Text }</a>
	}
}
