package myCourses

import (
	"fmt"
	"github.com/jonahhess/ds/internal/types"
)

templ MyCourses(userID int, courses []types.Item) {
	<h1>All My Courses</h1>
	<ul>
		for _, v := range courses {
			<li>
				<a href={ fmt.Sprintf("/courses/%d", v.ID) }>{ v.Text }</a>
			</li>
		}
	</ul>
	<a href={ fmt.Sprintf("/courses/add") }>Enroll in a new course</a>
}
